:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color1: #18181c;
  --bg-color2: #212121;
  --text-color1: #a0aec0;
  --text-color2: #69656f;
  --text-color3: #898B95;

  --screen-max-width: 1200px;
  --screen-min-width: 1200px;
  --header-height: 72px;
  --footer-height: 200px;
  --page-py: 24px;
  --page-px: 16px;
}

html,
body {
  font-size: 16px;
  font-family: GeneralSans-Medium !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
html {
  margin: 0;
  width: 100%;
}

/* cover tailwind css default */
button,
[type='button'] {
  background-color: var(--n-color);
}

.router-link-active,
a {
  text-decoration: none;
}

.slide-fade-leave-active {
  display: none;
}

.slide-fade-enter-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.4, 0.5);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(8px);
  opacity: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
} */

/* pagination vertical middle */
.n-pagination-item {
  line-height: 1;
}

.page {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  padding: var(--page-py) var(--page-px);
}

@media (min-width: 640px) {
  :root {
    --page-py: 40px;
    --page-px: 0;
    --header-height: 84px;
    --footer-height: 264px;
  }
}

@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('@/assets/fonts/GeneralSans-Medium.otf');
  font-weight: 500;
  font-size: 16px;
}

@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('@/assets/fonts/GeneralSans-Semibold.otf');
  font-weight: 600;
  font-size: 16px;
}
.emc-border {
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: rgba(103, 95, 255, 0.4);
}

.emc-card {
  border-radius: 16px;
  border-width: 0.5px 0 0 0.5px;
  border-style: solid;
  border-color: rgba(103, 95, 255, 0.4);
  border-top-image: linear-gradient(to right, rgba(103, 95, 255, 0.5), rgba(200, 139, 196, 0.2)) 1 100%;
  border-left-image: linear-gradient(to bottom, rgba(103, 95, 255, 0.5), rgba(200, 139, 196, 0.2)) 1 100%;
  background: radial-gradient(158.39% 171.82% at 7.54% 14.18%, rgba(99, 77, 232, 0.20) 0%, rgba(17, 17, 21, 0.20) 39.37%), linear-gradient(180deg, rgba(243, 238, 255, 0.00) 0%, rgba(243, 238, 255, 0.04) 100%), rgba(200, 139, 196, 0.01);
}

.emc-gradient-color-text {
  background: linear-gradient(142deg, #fc58b3 10.68%, #feae68 78.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.base-emc-card {
  border-radius: 16px;
  border-width: 1px 0 0 1px;
  border-style: solid;
}

.emc-select-none {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}

.emc-top-bg {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.n-drawer-mask,
.n-modal-mask {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(2px);
}
