:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-color1: #18181c;
  --bg-color2: #212121;

  --text-color2: #69656f;

  --screen-max-width: 1200px;
  --screen-min-width: 1200px;
  --header-height: 72px;
  --footer-height: 200px;
  --page-py: 24px;
  --page-px: 16px;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
html {
  margin: 0;
  width: 100%;
}

/* cover tailwind css default */
button,
[type='button'] {
  background-color: var(--n-color);
}

.router-link-active,
a {
  text-decoration: none;
}

.slide-fade-leave-active {
  display: none;
}

.slide-fade-enter-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.4, 0.5);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(8px);
  opacity: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
} */

/* pagination vertical middle */
.n-pagination-item {
  line-height: 1;
}

.page {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: var(--page-py) var(--page-px);
}

@media (min-width: 640px) {
  :root {
    --page-py: 40px;
    --page-px: 0;
    --header-height: 80px;
    --footer-height: 120px;
  }
}
