:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight support value 300 400 500 700 */
  /* font link https://fonts.googleapis.com/css?family=Roboto:300,400,500,700 */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --header-height: 84px;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
html {
  margin: 0;
  width: 100%;
}

/* cover tailwind css default */
button,
[type='button'] {
  background-color: var(--n-color);
}

.router-link-active,
a {
  text-decoration: none;
}

.slide-fade-leave-active {
  display: none;
}

.slide-fade-enter-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.4, 0.5);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(8px);
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

.n-input {
  background: transparent !important;
  border-radius: 8px !important;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  transition: 0.3s;
}

.n-input input {
  caret-color: #fff !important;
}

.n-input:not(.n-input--disabled).n-input--focus {
  background: transparent !important;
  border: 2px solid #ffb017 !important;
  transition: 0.3s;
}

/* @font-face {
  font-family: 'JJRoboto';
  src: url('@/assets/fonts/Roboto-Regular.ttf') format('truetype');
} */
